<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hss.springcloud.dao.DeptDao">
    <resultMap id="deptResultMap" type="com.hss.springcloud.entities.Dept">
        <id column="dept_no" jdbcType="BIGINT" property="deptNo" />
        <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
        <result column="db_source" jdbcType="VARCHAR" property="dbSource" />
    </resultMap>

    <sql id="column_List">
      dept_no,dept_name,db_source
    </sql>

    <insert id="addDept" parameterType="com.hss.springcloud.entities.Dept">
        insert into dept(dept_name,db_source)
          values(#{deptName},DATABASE())
    </insert>

    <select id="findById" parameterType="java.lang.Long" resultMap="deptResultMap">
        select
        <include refid="column_List" />
        from dept
        where dept_no = #{id}
    </select>

    <select id="findAll" resultMap="deptResultMap">
        select <include refid="column_List" /> from dept order by dept_no asc;
    </select>

    <delete id="deleteDept" parameterType="java.lang.Long">
        delete from dept
        where dept_no = #{id}
    </delete>
</mapper>